html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

input {
  width: 600px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 10px;
}

button {
  width: 600px;
  height: 50px;
  font-size: 14px;
  background: #8d7aef;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  border-radius: 10px;
}

.messages {
  width: 600px;
  height: 78%;
  margin: 20px 0;
  border: 1px solid rgb(236, 207, 207);
  padding: 20px;
  border-radius: 10px;
}

.format_message {
  width: 350px;
  background: #6f5eab;
  padding: 5px;
  margin: 5px;
  color: #eee;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.texto {
  font-size: 15px;
  font-weight: bold;
}
